<!DOCTYPE html>
<html lang="en">
<head>
  <title>Delete Student</title>
  <meta name="description" content=""/>
  <meta name="" content=""/>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="">
</head>
<body>
  <form action="/delete_students" method="POST">
    <input type="text" name="ID" placeholder="ID">
    <button type="submit">Delete</button>
  </form>


</body>
</html>